body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

#hero {
    /* background-image: url('imagem-destaque.jpg'); */
    background-image: url('/media/CompraCompulsiva.gif');
    background-size: cover;
    color: #0f0c0c;
    text-align: center;
    padding: 100px 0;
    font-size: 18px;
}

.btn {
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}